.idea
.DS_Store
app-data
# dist/

__pycache__
*.pyc
*.pyo
*.pyd

# Docker
.dockerignore
*.dockerfile
*.dockerignore
*.Dockerfile

# Logs and databases
*.log
*.sqlite3

venv/
venv*/

*node_modules*

*.cache*

.idea*

.env
